@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
/*Header*/
header{
    display: flex;
    justify-content: center;
}
header a{
    position: fixed;
    background-color: transparent;
    padding-right: 89%;
}
.fa-solid.fa-arrow-left{
    text-decoration: none;
    color: black;
    padding: 11px;
    font-size: 14px;
}
div.logo{
    display: flex;
    justify-content: center;
}
div img{
    width: 125px;
    height: 36px;
    padding: 8px;
}
/*Main*/
main img{
    position: relative;
    max-width: 1024px;
    width: 100%;
    height: 215px;
    object-fit: cover;
}
.main_content{
    position: relative;
    max-width: 1024px;
    background-color: #f6f5f5;
    border-radius: 20px 20px 0% 0%;
    width: 100%;
    height: auto;
    margin-top: -20px;
}
.nom_restaurant{
    display: inline-flex;
}
h1{
    font-family: Shrikhand, sans-serif;
    font-size: medium;
    font-weight: bold;
    margin: 20px 5px 20px 15px;
    width: 250px;
}
.fa-regular.fa-heart{
    position: absolute;
    margin: 20px 88%;
    cursor: pointer;
}
.fa-solid.fa-heart{
    position: absolute;
    color: transparent;
    margin: 20px 88%;
    cursor: pointer;
}
.nom_restaurant .fa-solid.fa-heart:hover{
    background-image: linear-gradient(45deg,#FF79DA,#9356DC );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.bloc_entrees{
    gap: 10px;
    margin-top: 15px;
    animation:animatezoom 0.6s;
    animation-delay: 0s;
  }
  @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bloc_entrees h2{
    font-weight: 400;
    font-size: 12px;
    width: 25px;
    border-bottom: solid 2px #99E2D0;
    padding-bottom: 3px;
    margin-left: 20px;
}
.entrees{
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10% 10px 5%;
    width: 90%;
    height: 51px;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.entrees:hover {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 60px;
    transition: all 0.5s ease;
}
.bloc_entrees :hover > .last_line .checkbox .fa-solid.fa-circle-check {
    overflow: hidden;
    color: white;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    padding: 3px;
    animation: rotation 1s;
    animation-delay: 0ms;
  }
  @keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}
.entrees h3{
    width: 100%;
    font-size: 12px;
}
.last_line{
    display: inline-block;
    width: 100%;
    height: 29px;
    font-size: 12px;
}
.entrees p{
    display: inline-block;
    width: 89%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 0px 10px 0%;
}
.entrees span{
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0px 0px 0px 3%;
}
span.checkbox {
    display: inline-block;
    background-color: #99E2D0;
    font-size: 20px;
    width: 20%;
    height: 52px;
    overflow: hidden;
    transform: translateX(57%);
    border-radius: 0px 10px 10px 0px;
    margin: -22px 0px 0px -5%;
    line-height: 1em;
    padding: 7px;
    bottom: 0px;
    }
    .checkbox .fa-solid.fa-circle-check {
        color: white;
        margin: 5px 0px 0px 0px;
        padding: 3px;
      }
.bloc_plats{
    gap: 10px;
    margin-top: 15px;
    animation:animatezoom 0.6s;
    animation-delay: 0.2s;
  }
  @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bloc_plats h2{
    font-weight: 400;
    font-size: 12px;
    width: 25px;
    border-bottom: solid 2px #99E2D0;
    padding-bottom: 3px;
    margin-left: 20px;
}
.plats{
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10% 10px 5%;
    width: 90%;
    height: 51px;
    padding: 10px;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.plats:hover{
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 60px;
    transition: all 0.5s ease;
}
.bloc_plats :hover > .last_line .checkbox .fa-solid.fa-circle-check {
    overflow: hidden;
    color: white;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    padding: 3px;
    animation: rotation 1s;
    animation-delay: 0ms;
  }
  @keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}
.plats h3{
    width: 100%;
    font-size: 12px;
}
.last_line{
    display: inline-block;
    width: 100%;
    height: 29px;
    font-size: 12px;
}
.plats p{
    display: inline-block;
    width: 89%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 0px 10px 0%;
}
.plats span{
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0px 0px 0px 3%;
}
span.checkbox {
    display: inline-block;
    background-color: #99E2D0;
    font-size: 20px;
    width: 20%;
    height: 52px;
    overflow: hidden;
    transform: translateX(57%);
    border-radius: 0px 10px 10px 0px;
    margin: -22px 0px 0px -5%;
    line-height: 1em;
    padding: 7px;
    bottom: 0px;
    }
  .checkbox .fa-solid.fa-circle-check {
    color: white;
    margin: 5px 0px 0px 0px;
    padding: 3px;
  }
.bloc_desserts{
    gap: 10px;
    margin-top: 15px;
    animation:animatezoom 0.6s;
    animation-delay: 0.4s;
  }
  @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bloc_desserts h2{
    font-weight: 400;
    font-size: 12px;
    width: 25px;
    border-bottom: solid 2px #99E2D0;
    padding-bottom: 3px;
    margin-left: 20px;
}
.desserts{
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10% 10px 5%;
    width: 90%;
    height: 51px;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.desserts:hover{
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 60px;
    transition: all 0.5s ease;
}
.bloc_desserts :hover > .last_line .checkbox .fa-solid.fa-circle-check {
    overflow: hidden;
    color: white;
    margin: 5px 0px 0px 0px;
    font-size: 20px;
    padding: 3px;
    animation: rotation 1s;
    animation-delay: 0ms;
  }
  @keyframes rotation{
    100%{
        transform: rotate(360deg);
    }
}
.desserts h3{
    width: 100%;
    font-size: 12px;
}
.last_line{
    display: inline-block;
    width: 100%;
    height: 29px;
    font-size: 12px;
}
.desserts p{
    display: inline-block;
    width: 89%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0px 0px 10px 0%;
}
.desserts span{
    display: inline-block;
    position: relative;
    bottom: 15px;
    margin: 0px 0px 0px 3%;
}
span.checkbox {
    display: inline-block;
    background-color: #99E2D0;
    width: 20%;
    height: 52px;
    overflow: hidden;
    transform: translateX(57%);
    border-radius: 0px 10px 10px 0px;
    margin: -24px 0px 0px -5%;
    line-height: 1em;
    padding: 7px;
    bottom: 0px;
    }
  .checkbox .fa-solid.fa-circle-check {
    color: white;
    margin: 5px 0px 0px 0px;
    padding: 3px;
  }
.commander{
    display: flex;
    justify-content: center;
    padding: 20px 0px 85px 0px;
}
button{
    width: 140px;
    background: linear-gradient(#FF79DA,#9356DC );
    border: transparent;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    padding: 9px 36px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;
}
    /*Footer*/
    footer{
        display: flex;
        flex-direction: column;
        position: relative;
        font-size: 16px;
        background-color: #302f2e;
        color: #fff;
        height: auto;
        line-height: 1.5;
        padding-bottom: 30px;
    }
    footer img{
        height: 20px;
        width: 100px;
        margin: 20px 100% 10px 15px;
        filter: invert(100%);
    }
    footer span{
        margin: 5px 0px 0px 0px;
    }
    footer span i{
        margin: 7px 5px 0px 15px;
        font-size: 12px;
    }
    footer a{
        color: white;
        text-decoration: none;
        margin: 15px 0px 0px 5px;
    }
    footer .Mentions_Contact{
        margin: 5px 0px 0px 15px;
    }

    @media (min-width: 1024px){
        body{
            background-color: #f6f5f5;
        }
        header{
            background-color: #fff;
        }
        .main_content {
            position: relative;
            max-width: 1024px;
            background-color: #f6f5f5;
            border-radius: 20px 20px 0% 0%;
            width: 42%;
            height: auto;
            margin: -30px 29% 0px 29%;
        }
        main img{
            position: relative;
            max-width: 1024px;
            width: 40%;
            height: 150px;
            margin: 0% 30% 0% 30%;
            object-fit: cover;
        }
        .entrees span{
            display: inline-flex;
        }
        .plats span{
            display: inline-flex;
        }
        .desserts span{
            display: inline-flex;
        }
        span.checkbox {
            display: inline-block;
            background-color: #99E2D0;
            width: 20%;
            height: 52px;
            overflow: hidden;
            transform: translateX(57%);
            border-radius: 0px 10px 10px 0px;
            margin: -24px 0px 0px -5%;
            line-height: 1em;
            padding: 7px;
            }
    }
