@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*outline: 1px solid red;*/
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
/*Header*/
header{
    display: flex;
    justify-content: center;
}
header a{
    position: fixed;
    background-color: transparent;
    padding-right: 89%;
}
.fa-solid.fa-arrow-left{
    text-decoration: none;
    color: black;
    padding: 11px;
    font-size: 14px;
}
div.logo{
    display: flex;
    justify-content: center;
}
div img{
    width: 125px;
    height: 36px;
    padding: 8px;
}
/*Main*/
main img{
    position: fixed;
    max-width: 1024px;
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.main_content{
    position: absolute;
    max-width: 1024px;
    background-color: #f6f5f5;
    border-radius: 20px 20px 0% 0%;
    width: 100%;
    height: auto;
    margin-top: 132px;
}
.nom_restaurant{
    display: inline-flex;
}
h1{
    font-family: 'Shrikhand', cursive;
    font-size: medium;
    font-weight: bold;
    margin: 20px 5px 20px 15px;
    width: 250px;
}
.fa-regular.fa-heart{
    position: absolute;
    margin: 20px 88%;
}
.fa-solid.fa-heart{
    position: absolute;
    color: transparent;
    margin: 20px 88%;
}
.nom_restaurant .fa-solid.fa-heart:hover{
    background-image: linear-gradient(45deg,#FF79DA,#9356DC );
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}
.bloc_entrees{
    gap: 10px;
    margin-top: 15px;
    animation:animatezoom 0.6s
  }
  @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bloc_entrees h2{
    font-weight: 400;
    font-size: 11px;
    width: 25px;
    border-bottom: solid 2px #99E2D0;
    padding-bottom: 3px;
    margin-left: 20px;
}
.entrees{
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10% 10px 5%;
    width: 90%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    transition-delay: 0ms;
}
.entrees:hover{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%; 
    transition:all 0.5s ease;
}
.bloc_plats{
    gap: 10px;
    margin-top: 15px;
    animation:animatezoom 0.6s
  }
  @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bloc_plats h2{
    font-weight: 400;
    font-size: 11px;
    width: 25px;
    border-bottom: solid 2px #99E2D0;
    padding-bottom: 3px;
    margin-left: 20px;
}
.plats{
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10% 10px 5%;
    width: 90%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    transition-delay: 0ms;
}
.plats:hover{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%; 
    transition:all 0.5s ease;
}
.bloc_desserts{
    gap: 10px;
    margin-top: 15px;
    animation:animatezoom 0.6s
  }
  @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.bloc_desserts h2{
    font-weight: 400;
    font-size: 11px;
    width: 25px;
    border-bottom: solid 2px #99E2D0;
    padding-bottom: 3px;
    margin-left: 20px;
}
.desserts{
    display: block;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10% 10px 5%;
    width: 90%;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    cursor: pointer;
    transition-delay: 0ms;
}
.desserts:hover{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80%; 
    transition:all 0.5s ease;
}
.entrees h3{
    width: 100%;
}
.entrees p{
    display: inline-flex;
    width: 89%;
    text-overflow: ellipsis;
    overflow: hidden;
}
.entrees span{
    display: inline-flex;
    margin-left: 6%;
}
span.checkbox {
    position: absolute;
    top: 100px;
    left: 509px;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 30px;
    margin: 0;
    opacity: 0;
    transition: transform 330ms ease-in-out;
    }
  .checkbox .fa-solid.fa-circle-check {
    color: #99E2D0;
    transition: transform 500ms ease-in-out;
  }
.plats h3{
    width: 100%;
}
.plats p{
    display: inline-flex;
    width: 89%;
}
.plats span{
    display: inline-flex;
    margin-left: 6%;
}
.desserts h3{
    width: 100%;
}
.desserts p{
    display: inline-flex;
    width: 89%;
}
.desserts span{
    display: inline-flex;
    margin-left: 6%;
}
.commander{
    display: flex;
    justify-content: center;
    padding: 20px 0px 85px 0px;
}
button{
    width: 140px;
    background: linear-gradient(#FF79DA,#9356DC );
    border: transparent;
    border-radius: 35px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    padding: 9px 36px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
    box-shadow: rgba(0, 0, 0, 0.84) 0px 3px 8px;
}
    /*Footer*/
    footer{
        display: flex;
        flex-direction: column;
        position: sticky;
        font-size: 16px;
        background-color: #302f2e;
        color: #fff;
        height: auto;
        margin-top: 1000px;
        line-height: 1.5;
        padding-bottom: 30px;
    }
    footer img{
        height: 20px;
        width: 100px;
        margin: 20px 100% 10px 15px;
        filter: invert(100%);
    }
    span{
        margin: 5px 0px 0px 0px;
    }
    span i{
        margin: 7px 5px 0px 15px;
        font-size: 12px;
    }
    footer a{
        color: white;
        text-decoration: none;
        margin: 15px 0px 0px 5px;
    }
    footer .Mentions_Contact{
        margin: 5px 0px 0px 15px;
    }

    @media (min-width: 1024px){
        body{
            background-color: #f6f5f5;
        }
        header{
            background-color: #fff;
        }
        .main_content {
            position: absolute;
            max-width: 1024px;
            background-color: #f6f5f5;
            border-radius: 20px 20px 0% 0%;
            width: 40%;
            height: auto;
            margin: 132px 30% 0px 30%;
        }
        main img{
            position: fixed;
            max-width: 1024px;
            width: 40%;
            height: 150px;
            margin: 0% 30% 0% 30%;
            object-fit: cover;
        }
        .entrees span{
            display: inline-flex;
            margin-left: 3%;
        }
        .plats span{
            display: inline-flex;
            margin-left: 3%;
        }
        .desserts span{
            display: inline-flex;
            margin-left: 3%;
        }
    }
